<!DOCTYPE html>

<head>
    <title>Cook Assistant - Categories</title>
</head>

<body>
    <h1>Cook Assistant</h1>
    <h2>Categories</h2>
    <% categories.forEach((category) => { %>
        <a href="/category/<%= category.id %>">
            <%= category.name %>
        </a>
        <br />
    <% }); %>
    <form method="post" action="/create-category">
        <h2>Create Category</h2>
        <label>Name</label>
        <input name="name" />
        <br />
        <button>Submit</button>
    </form>
</body>

</html>