<!DOCTYPE html>

<head>
    <title>Recipes</title>
</head>

<body>
    <h1>Recipes</h1>
    <% recipes.forEach((recipe) => { %>
        <a href="/recipe/<%= recipe.id %>">
            <%= recipe.name %>
        </a>
        <br />
    <% }); %>
    <form method="post" action="/create-recipe">
        <h2>Add Recipe</h2>
        <label>Name</label>
        <input name="name" />
        <br />
        <button>Submit</button>
    </form>
</body>

</html>