<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8"/>
    <title>Cooking Assistant</title>
</head>
<body>

<h1>Cooking Assistant</h1>

<form action="/product/create" method="post">
    <label for="product-input">Nazwa produktu</label>
    <input id="product-input" name="name" placeholder="Podaj nazwę: " required/>

    <label for="product-amount-input">Ilość produktu</label>
    <input id="product-amount-input" type="number" name="amount" placeholder="Podaj ilość: " required/>

    <input type="submit" value="Potwierdź"/>
</form>

<button type="button" onclick="window.location.href = '/select-action'">Powrót</button>

</body>
</html>