<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8"/>
    <title>Cooking Assistant</title>
</head>
<body>

<h1>Cooking Assistant</h1>

<form action="/recipe/create" method="post">
    <label for="recipe-title-input">Tytuł przepisu</label>
    <input id="recipe-title-input" name="title" placeholder="Podaj tytuł: " required/>

    <label for="products-list"> Wybierz produkty: </label>
    <select name="productsList" id="products-list" multiple required>
        <% products.forEach(({id, name}) => { %>
            <option value="<%= id %>"> <%= name %></option>
        <% }) %>
    </select>

    <button onclick="window.location.href = '/product'"> Dodaj produkt</button>

    <input type="submit" value="Potwierdź"/>
</form>

<button type="button" onclick="window.location.href = '/select-action'">Powrót</button>


</body>
</html>