<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8"/>
    <title>Cooking Assistant</title>
</head>
<body>

<h1>Cooking Assistant</h1>

<form action="/recipe/create" method="post">
    <label for="recipe-title-input">Tytuł przepisu</label>
    <input id="recipe-title-input" name="title" placeholder="Podaj tytuł: " required/>

    <input type="submit" value="Potwierdź"/>
</form>

</body>
</html>