<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8"/>
    <title>Cooking Assistant</title>
</head>
<body>

<h1>Cooking Assistant</h1>

<% recipe.forEach((recipe) => { %>
    Tytuł: <%= recipe.name %>
<% }) %>
</body>
</html>