<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8"/>
    <title>Cooking Assistant</title>
</head>
<body>

<h1>Cooking Assistant</h1>

<button type="button" onclick="window.location.href = '/form/recipe'">Dodaj przepis</button>
<button type="button" onclick="window.location.href = '/form/product'">Dodaj produkt</button>

<script type="application/javascript" src="../app.js"></script>
</body>
</html>