<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8"/>
    <title>Cooking Assistant</title>
</head>
<body>

<h1>Cooking Assistant</h1>

<button onclick="window.location.href = '/form'">Przyjdź do formularza</button>

<ul></ul>
<script type="application/javascript" src="../app.js"></script>
</body>
</html>