<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8"/>
    <title>Cooking Assistant</title>
</head>
<body>

<h1>Cooking Assistant</h1>

<button onclick="window.location.href = '/select-action'">Przyjdź do formularzy</button>

<ul id="tasks-list">
    <% recipes.forEach((recipe) => { %>
        <a href="/recipe/<%= recipe.id %>">
            <%= recipe.name %>
        </a>
        <form method="post" action="/recipe/delete/<%= recipe.id %>?_method=DELETE">
            <input type="hidden" name="_method" value="DELETE">
            <input type="submit" value="Usuń"/>
        </form>

        <br/>
        <br/>
    <% }) %>
</ul>

</body>
</html>